/classifier/model/uncased_L-12_H-768_A-12/bert_config.json
/classifier/model/uncased_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
/classifier/model/uncased_L-12_H-768_A-12/bert_model.ckpt.index
/classifier/model/uncased_L-12_H-768_A-12/bert_model.ckpt.meta
/classifier/model/uncased_L-12_H-768_A-12/sentiment_bert_model.h5
/classifier/model/uncased_L-12_H-768_A-12/vocab.txt
/flask/sentiment_bert_model.h5
/flask/vocab.txt
/venv